<%# <header>
<%= render partial: "shared/header", locals:{ reservation: @reservation}%>
<%# </header>  %>
<body>
<%# <div class="container pt-5"> %>
      <h3>申込一覧</h3>
        <table class="table-striped col-12 mt-3 mx-auto">
          <thead class="border">
            <tr class="table_title">
              <td>お日にち</td>
              <td>時間</td>
              <td>学年</td>
              <td>生徒氏名</td>
              <td>面談形式</td>
              <td>ご参加予定人数</td>
              <td>申込の<br>詳細</td>
              <td>申込の<br>編集</td>
              <td>申込の<br>削除</td>
            </tr>
          </thead>
          <tbody>
            <% @reservations.each do |reservation| %>
            <tr>
            <td><%= reservation.date.strftime("%m月%d日")%></td>
            <td><%= reservation.time%></td>
            <td><%= reservation.user.grade.name%></td>
            <td><%= reservation.user.name_last_name + reservation.user.name_first_name%></td>
            <td><%= reservation.style.name%></td>
            <td><%= reservation.number_of_people.name%></td>
            <td><%= link_to "詳細",admin_reservation_path(reservation.id)%></td>
            <td><%= link_to "編集",edit_admin_reservation_path(reservation.id)%></td>
            <td><%= link_to "削除",admin_reservation_path(reservation.id),method: :delete ,data: { confirm: "申し込みを削除してもよろしいですか？\n ※日時変更の場合は削除してください" }%></td>
            </tr>
            <% end %>
            </tbody>
        </table>
  <div class="table_row">
<!--ここからカレンダー-->
    <div class="col-12 mt-3 text-right">
      <%= month_calendar events: @reservations do |date, reservations| %>
          <%= date.day %>
          <% reservations.each do |reservation|%>
            <div class="reserve_content">
            <%= link_to "#{(reservation.time)+' '+(reservation.user.grade.name)+' '+(reservation.user.name_last_name)+(reservation.user.name_first_name) }", admin_reservation_path(reservation.id)%>
            </div>
          <% end %>
      <% end %>
    </div>
  </div>
</body>
