<div class="container mt-5">
<header>
  <%= render partial: "shared/header", locals:{ reservation: @reservation}%>
</header>
<div class="space">
</div>
    <div class="col-12 text-center info-title border-bottom mt-5">
        申込詳細
    </div>    
    <div class="thx-sentence mt-3">
      <p>面談形式の変更・ご参加人数の変更は下記編集ボタンから、<br/>
        日時変更は一度申込みを削除してください。
    </div>
    <div class="confirm-contents__item">
      <p class ="item-heading">
        お日にち</p>
      <p class="item-content">
        <%= @reservation.date %></p>
      </div>
      <div class="confirm-contents__item">
        <p class="item-heading">
          開始時刻</p>
        <p class="item-content">
        <%= @reservation.time%></p>
      </div>
      <div class="confirm-contents__item">
        <p class="item-heading">
        面談形式</p>
        <p class="item-content">
        <%= @reservation.style.name %></p>
      </div>
      <div class="confirm-contents__item">
        <p class="item-heading">
          ご参加予定人数</p>
        <p class="item-content">
          <%= @reservation.number_of_people.name %></p>
      </div>  
      <div class="confirm-contents__item">
        <p class="item-heading">
          面談で相談したいこと</p>
        <p class="item-content">
          <%= @reservation.question %></p>
        </div>
        <div class="form-group">
          <div class="submit">
            <%=link_to "編集する", edit_admin_reservation_path(@reservation.id), class: 'btn btn-success mx-auto d-block mt-4'%><br />
          </div>
          <div class="submit">
            <%= link_to "削除する", admin_reservation_path(@reservation.id),method: :delete ,data: { confirm: "申し込みを削除してもよろしいですか？\n ※保護者の了承を得ている場合のみ削除してください" }, class:"btn btn-danger mx-auto d-block mt-4" %>
          </div>
        </div>
        <div class="form-group">
          <div class=" btn back-btn btn-outline-secondary mx-auto">
            <%= link_to "TOPページに戻る", admin_reservations_path %>
          </div>
        </div>
      </div>
  </div>

