<%= render partial: "shared/header", locals:{ reservation: @user}%>
<div class="container mt-5">
  <div class="row">
      <%# ようこそ<%= @user_nameさん %>
      <%# <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "logout" %>
      <div class="col-12 mt-3 text-center mx-auto">
        <h3>申込一覧</h3>
          <table class="table-striped col-12 mt-3 mx-auto">
            <thead class="border">
              <tr class="table_title">
                <td>お日にち</td>
                <td>時間</td>
                <td>面談形式</td>
                <td>ご参加予定人数</td>
                <td>申込の<br>詳細</td>
                <td>申込の<br>編集</td>
                <td>申込の<br>削除</td>
              </tr>
            </thead>
            <tbody>
              <% @reservations.each do |reservation| %>
              <tr>
              <td><%= reservation.date.strftime("%Y年%m月%d日")%></td>
              <td><%= reservation.time%></td>
              <td><%= reservation.style.name%></td>
              <td><%= reservation.number_of_people.name%></td>
              <td><%= link_to "詳細",reservation_path(reservation.id)%></td>
              <td><%= link_to "編集",edit_reservation_path(reservation.id)%></td>
              <td><%= link_to "削除",reservation_path(reservation.id),method: :delete ,data: { confirm: "申し込みを削除してもよろしいですか？\n ※日時変更の場合は削除してください" }%></td>
              </tr>
              <% end %>
            </tbody>
          </table>
           <div class="text-right mt-3">
            <%=link_to "空き状況ページに戻る", root_path %>
           </div>    
      </div>  
  </div>
</div>