<header>
  <%= render partial: "shared/header", locals:{ reservation: @reservation}%>
</header>

  <div class="band mt-5">
    <span>申込内容編集画面です</span>
  </div>
<div class="container">

    <div class="col-12 text-center mt-3 pb-4 border-bottom">
      <p class="info-title">申込内容の変更</p>
      <p class="info-sentence">変更項目をご入力ください</p>
    </div>
    <div class="border-line">
    </div>
    <div class="border-line2">
    </div>

    <div class="row bg-light">
        <% flash.each do |message_type, message| %>
          <p class="alert_message"><%= message %></p>
        <% end %>

      <div class="col-12 mt-3 content">
      
        <%= form_with model: @reservation, local: true, class: 'form' do |form| %>
        <% days = ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"]%>
 
        <%= render 'devise/shared/error_messages', model: form.object %>
        <div class="day form-group">
          <%= form.label :date, '日付（変更できません）' %>
          <%= form.text_field :date, class: 'form-control', value: "#{@reservation.date}"+" #{days[@reservation.date.wday]}", readonly: true %>
        </div>
        <div class="time form-group">
          <%= form.label :time, '時間（変更できません）' %>
          <%= form.text_field :time, class: 'form-control',  value: @reservation.time, readonly: true %>
        </div>
        <% form.text_field :start_time, value: @reservation.start_time,readonly: true %>
        <div class="form">
          <div class="form-group">
            <div class="weight-bold-text">
              ご参加予定人数
              <span class="indispensable  ">必須</span>
            </div>
            <%= form.collection_select(:number_of_people_id, NumberOfPeople.all, :id, :name, {}, {class:"form-control", id:"nuber_of_people-category"}) %>
          </div>
          <div class="form-group">
            <div class="weight-bold-text">
              面談形式（お選びください）
              <span class="indispensable  ">必須</span>
            </div>       
            <%= form.collection_select(:style_id, Style.all, :id, :name, {}, {class:"form-control", id:"style-category"}) %>
          </div>
          <div class="form-group">
            <div class="weight-bold-text">
              面談で相談したいこと（任意）
            </div>
            <%= form.text_area :question, class:"form-control", id:"pre-question", placeholder:"面談にて相談したいことがございましたら事前にご記入ください。",rows:"7" ,maxlength:"1000" %>
          </div>
        <%# <%= form.hidden_field :user_id, value: current_user.id %>
      
        <div class="submit">
          <%= form.submit value: '変更する', class: 'btn mx-auto d-block common-btn' %>
        </div>
        <% end %>
        <div class="form-group">
          <div class=" btn back-btn btn-outline-secondary mx-auto">
          <%= link_to '戻る', reservation_path(@reservation) %><!--詳細ページへ戻す-->
          </div>
        </div>
      </div>
    </div>
</div>