<!-- new.html.erb -->
<div class="container">
  <div class="row bg-light">
    <div class="col-12 text-center title h1 border-bottom">
      新規予約画面
    </div>
    <% days = ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"]%>

    <%# <div class="wrap-fluid"> %>
        <div class="col-12 mt-3 content">
          <%= form_with model: @reservation, local: true, class: 'form' do |form| %>
          <%# <%= render 'layouts/error_messages', model: form.object %>
          <div class="day form-group">
            <%= form.label :date, '日付' %>
            <%= form.text_field :date, class: 'form-control', value: "#{@date}"+" #{days[@date_wday]}", readonly: true %>
          </div>
          <div class="time form-group">
            <%= form.label :time, '時間' %>
            <%= form.text_field :time, class: 'form-control',  value: @time, readonly: true %>
          </div>
          <div class="form">
            <div class="weight-bold-text">
              ご参加予定人数
              <span class="indispensable  ">必須</span>
            </div>
            <div class="dropdown">
              <%= form.collection_select(:number_of_people_id, NumberOfPeople.all, :id, :name, {}, {class:"form-control", id:"nuber_of_people-category"}) %><br />
              <%# select-box %>
            </div>
            <div class="weight-bold-text">
              面談形式（お選びください）
              <span class="indispensable  ">必須</span>
            </div>
            <%= form.collection_select(:style_id, Style.all, :id, :name, {}, {class:"form-control", id:"style-category"}) %><br />
            <div class="weight-bold-text">
              面談で相談したいこと（任意）
            </div>
            <div class="form-group">
            <%= form.text_area :question, class:"form-control", id:"pre-question", placeholder:"面談にて相談したいことがございましたら事前にご記入ください。",rows:"7" ,maxlength:"1000"%>
            </div>

          <%# <%= form.hidden_field :user_id, value: current_user.id %>
          <%= form.hidden_field :start_time, value: @start_time %>
          <div class="submit">
            <%= form.submit value: '予約する', class: 'btn btn-primary mx-auto d-block' %>
          </div>
        <% end %>
    <%# </div> %>
    <div class="col-12 text-right">
      <%= link_to '戻る', reservations_path %>
    </div>
    </div>
  </div>
</div>