<%# <%= render partial: "shared/header", locals:{ reservation: @reservation}%>

<div class="container col-12 mt-5">

  <div class="h2 mt-5">申込詳細</div>

      <% if current_user.group_id == 2%>
          <table>
          <thead>
            <tr>
              <td>学年</td>
              <td>生徒氏名</td>
            </tr>
          </thead>
          <tbody>
            <tr>
            <td><%= @reservation.user.grade.name %></td>
            <td><%= (@reservation.user.name_last_name)+(@reservation.user.name_first_name) %></td>
            </tr>
          </tbody>
        <% end %>
    <table class="table">
      <thead>
        <tr>
          <td class="bg-light">お日にち</td>
          <td class="bg-light">時間</td>
          <td class="bg-light">面談形式</td>
          <td class="bg-light">ご参加予定人数</td>
        </tr>
      </thead>
      <tbody>
  
        <tr>
          <td><%= @reservation.date.strftime("%Y年%m月%d日")%></td>
          <td><%= @reservation.time%></td>
          <td><%= @reservation.style.name%></td>
          <td><%= @reservation.number_of_people.name%></td>
        </tr>
        <tr>
          <td colspan="4" class="bg-light">面談で相談したいこと</td>
        </tr>
        <tr>
          <td colspan="4"><%= @reservation.question%></td>
        </tr>
        <br />
      </tbody>
    </table>
    <% if current_user.group_id != 2%>
    <div class="d-flex ">
      <div class="col-6 ">
        <p class ="u-ta-center">＼
          <strong class="p-article_trialLessonStrong col-6">面談形式・ご参加人数変更はこちら</strong>／</p><p class="col-sm-none text-white">※※削除後、再申込してください。</p>
            <div >
              <%= link_to edit_reservation_path(@reservation.id), class:" text-white" do%>
                <div class="btn btn-success btn-block">編集</div>
              <% end %>
            </div>
      </div>
      <div class="col-6">
        <p class ="u-ta-center">＼
          <strong class="p-article_trialLessonStrong col-6">日時変更の場合はこちら</strong>／ </p><p>※削除後、再申込してください。</p>
          <div>
            <%= link_to reservation_path(@reservation.id),method: :delete ,data: { confirm: "申し込みを削除してもよろしいですか？\n ※日時変更の場合は削除してください" }, class:"text-white" do%>
              <div class="btn btn-danger btn-block">削除</div>
            <% end %>
          </div>
      </div>
    </div>
      <% end %>
    <%# </div> %>
    <br />
    <div class="text-right">
     <%=link_to "マイページに戻る", user_path(current_user.id) %>
    </div>
</div>