<header>
  <%= render partial: "shared/header", locals:{ reservation: @reservation}%>
</header>

  <div class="band mt-5">
    <span>変更完了</span>
  </div>

<div class="container">
  <div class="index-info mt-3 mb-3">
    <p class="info-title">申込の変更を受け付けました</p>
  </div>

  <% days = ["日曜日", "月曜日", "火曜日", "水曜日", "木曜日", "金曜日", "土曜日"]%>
    
    <div class="h6">
      <p><%=(@reservation.user.name_last_name)+" "+(@reservation.user.name_first_name)+" "%>様<p>
      <p class="h6">保護者 様</p>
    </div>
    <div>
      <br>
      <p>この度は、ご面談のお申し込み、誠にありがとうございます。<br/>
      以下の内容で変更を受付いたしました。
      <br>ご登録いただいておりますメールアドレスに変更完了メールをお送りしておりますのでご確認ください。</p>
    </div>
    <div class="confirm-contents__item">
        <p class ="item-heading">
          お日にち</p>
        <p class="item-content">
          <%= @reservation.date %></p>
      </div>
      <div class="confirm-contents__item">
        <p class="item-heading">
          開始時刻</p>
        <p class="item-content">
          <%= @reservation.time%></p>
      </div>
      <div class="confirm-contents__item">
        <p class="item-heading">
          面談形式</p>
        <p class="item-content">
          <%= @reservation.style.name %></p>
      </div>
      <div class="confirm-contents__item">
        <p class="item-heading">
          ご参加予定人数</p>
        <p class="item-content">
          <%= @reservation.number_of_people.name %></p>
      </div>  
      <div class="confirm-contents__item">
        <p class="item-heading">
          面談で相談したいこと</p>
        <p class="item-content">
          <%= @reservation.question %></p>
      </div>
      
      <div class="form-group">
        <div class="submit">
          <%=link_to "マイページで申込状況を確認する", user_path(current_user.id), class: 'btn common-btn mx-auto d-block mt-4'%><br />
        </div>
</div>