<h1>申し込み編集が完了しました。</h1>

<h3>申し込み日時</h3><br />
<%= "#{@date_parse}"%><br />
<%= "#{@time}"%>

<h4>ご参加予定人数</h4>
<%= @reservation.number_of_people.name%>
<h4>面談形式</h4>
<%= @reservation.style.name%>

<h4>面談で相談したいこと</h4>
<%= @reservation.question%>
<br/>
<%=link_to "マイページで申込状況を確認する", user_path(current_user.id) %><br />
