<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前の週へ'), calendar.url_for_previous_view %>
    <% if calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: '| １週間 |') %> </span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: '| １週間 |') %> </span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: '次の週へ'), calendar.url_for_next_view %>
       <!-- ポイント -->
     <% reservations = Reservation.reservations_after_three_month %>
  </div>

  <table class="table table-striped "> 
  <%# table-striped %>
    <thead class="thead-dark">
      <tr>
        <th>時間</th>
        <% date_range.slice(0, 7).each do |day| %>
          <th class="text-center"><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
        <!--空のセル-->
        <td></td>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <%# なぜここはメソッド名で良いのだろう？%>
        <% time_schedule.each do |time| %>
          <tr>
            <td class="text-center"><%= time %></td>
            <% week.each do |day| %> 
            <!-- 土日であれば背景色変更-->

               <% if day.wday == 0 %>
                <td class="text-center wday-0">
               <% elsif day.wday == 6%>
                 <td class="text-center wday-6">
               <% else %>
                <td class="text-center">
               <% end %>
               <!-- 追加 -->
                <!-- ここから -->
                     <%# <% binding.pry%>
                 <% if day.wday == 0 %>
                 
                 <%= "-" %>
                 <% elsif check_reservation(reservations, day, time) %>


                   <%= '×' %>
                 <% else %>
                   <%= link_to '○', new_reservation_path(date: day, time: time) %>
                 <% end %>
                <!-- ここまで -->
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
