<div class="container bg-light pb-5">
  <%= form_with model:@user, url: user_session_path, id: 'registration-main', class:'form-horizontal', local: true do |f| %>
  <div class="container bg-white pt-5">
    <div class='form-wrap'>
      <div class='form-header'>
        <h1 class='form-header-text'>
          ユーザー情報入力
        </h1>
      </div>
    </div>
    <div class='login-flash-message'>
        <%= flash[:notice] %>
        <%= flash[:alert] %>
    </div>
        <div class="form-group">
            <label class="form-text border-bottom mt-3">メールアドレス</label>
            <div>
              <%= f.email_field :email, class:"input-default", id:"email", placeholder:"PC・携帯どちらでも可", autofocus: true %>
            </div>
        </div>
        <div class="form-group mt-3">
          <div class='form-text-wrap'>
            <label class="form-text border-bottom ">パスワード</label>
          </div>
            <%= f.password_field :password, class:"input-default", id:"password", placeholder:"登録したパスワードを入力してください" %>
        </div>
        <div class='login-btn'>
          <%= f.submit "ログイン" ,class:"btn btn-primary" %>
        </div>
  <% end %>

    <%# <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%# <div class="field">
        <%= f.label :email %><br />
        <%# <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
      <%# </div>

      <div class="field">
        <%= f.label :password %><br />
        <%# <%= f.password_field :password, autocomplete: "current-password" %>
      <%# </div> %>

      <%# <% if devise_mapping.rememberable? %>
        <%# <div class="field"> %>
          <%# <%= f.check_box :remember_me %>
          <%# <%= f.label :remember_me %>
        <%# </div> %>
      <%# <% end %>

      <%# <div class="actions"> %>
        <%# <%= f.submit "ログイン" %> 
      <%# </div> %>
    <%# <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>